@import "bootstrap";
@import "functions";
@import "jobs";
@import "stripe";
@import "hover";
@import "animate";

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}

.hvr-grow-rotate.opposite {
  -webkit-transform: perspective(15px) translateZ(-40) !important;
  transform: perspective(1px) translateZ(-40) !important;
}

::selection { 
  background: #FBE57F !important;
}

.section a {
  color:#546E7A;
  text-decoration:none;
  padding-bottom:3px;
  border-bottom:2px dotted #546E7A;  
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

body {
  background:#F4F3F0;
  font-family: 'Rubik', sans-serif;
  color:#B4AB9C;
  font-size:13pt;
  line-height:1.8;
}

.close {
  display:none !important;
}

.container {
  max-width:980px !important;
}

.logo a {
  font-size:30pt;
  letter-spacing:-2px;
  color:#546E7A;
  text-decoration:none;
}

.logo img{
  vertical-align:middle;
}


h2.title, .subtitle {
  color:#546E7A;
}

.navbar-item {
  float:left;
  margin-top:2px;
  text-transform:uppercase;
  font-size:11pt;
  letter-spacing:1px;
}

.navbar-item a,.navbar-item a:visited {
  text-decoration:none;
  margin-right:25px;
  color:#546E7A;
}

.navbar-item a:hover {
  color:#546E7A;
  border-bottom:1px dashed #546E7A;
}

.alert p {
  margin-bottom: 0 !important;
  text-align:center;
}

header {
  margin:80px 0;
  text-align:center;
}

header.subpage {
  margin:0 0 40px 0;
}

header .btn {
  border-bottom:none;

}

header h2 {
  font-size:22pt;
  text-align:center;
  font-weight:400;
  color:#546E7A;
}

header form {
  width:100%;
}

header .col {
  display:block;
}

input[type=text], input[type=email], input[type=password], input[type=url], select, textarea {
  background:#fff;
  padding:10px 15px !important;
  border:1px solid #E2E0E0;
  border-radius: 8px;
  margin-right:15px;
  width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:12pt;
  color:#B4AB9C !important;
}

::placeholder {
  color:#B4AB9C !important;
}

input[type=checkbox] {
  margin-right:5px;
}

input[type=submit] {
  padding:10px 15px !important;
  border-radius: 8px;
  width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:12pt;
  font-weight:500;
  background:#FBE57F;
  color:#546E7A;
  border:1px solid #FBE57F;
  width:100%;
}

textarea:focus, select:focus, input:focus {
  color:#736957 !important;
}

hr {
  border:none;
  height:1px;
  border-bottom:5px solid #E6E2DB;
}

.show strong {
  color:#736957;
}

h3.title {
  color:#736957;
}


label {
  margin-top:20px;
  color:#736957;
}

.hint {
  font-size:10pt;
  font-style:italic;
}

abbr {
  float:right;
  margin-left:5px;
  color:#ff0000;
}

.btn {
  padding:9px 15px !important;
  border-radius: 8px;
}

.navbar-item .btn {
  margin:0 0 0 5px;
  font-size:10pt;
}

.btn-primary {
  background:#fff;
  color:#546E7A;
  border:1px solid #E7E0E0;
}

.btn-primary:hover {
  background:rgb(245, 242, 242);
  color:rgb(57, 81, 92);
  border:1px solid rgb(212, 202, 202) !important;
}

.btn-secondary {
  background:#546E7A;
  color:#fff !important;
  border:1px solid #546E7A !important;
}

.btn-secondary:hover {
  background:rgb(65, 88, 99);
}

abbr {
  text-decoration:none !important;
}

.meta {
  width:100%;
  display:inline-block;
  vertical-align:center;
}

.meta div {
  vertical-align:center;
}

.job {
  border-bottom:1px solid #E6E2DB;
  -webkit-transition: all .3s; /* Safari */
  transition: all .3;
}

.job:hover {
  background:rgba(0,0,0,0.02);
}
.show .job {
  margin-bottom:40px;
}

.show .job:hover {
  background:transparent;
}

.show .btn {
  border-bottom:none !important;
}

.job a {
  padding:35px 20px;
  display:block;
  clear:both;
  text-decoration:none;
  border:none;
}

.job h3 {
  font-size:18pt;
  display:block;
  float:left;
  margin-bottom:0px !important;
  margin-right:20px;
  color:#736957;
  border:none;
}

.job a p {
  font-size:11pt;
  margin-bottom:0px !important;
  color:#B4AB9C;
}

.job-logo, .job-info {
  display:inline-block;
  float:left;
}

.job-logo {
  width:15%;
}

.job a .job-info {
  width:85%;
  margin-bottom:35px;
  color:#736957;
}

.type {
  font-size:7pt;
  color:#fff;
  background:#28B51F;
  padding:1px 8px;
  margin:6px 5px 0 0px;
  border-radius: 4px;
  display:block;
  width:auto;
  float:left;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:500;
  text-shadow: 1px 1px #17920F;
}

.remote {
  background:#FBE57F;
  color:#A5954B;
  text-shadow: none !important;
}



.pagination {
  text-align: center;
  display:block;
  margin:0 auto;
  padding: 2em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; border:none; text-decoration:none !important;}
  .pagination .disabled {
    color: rgb(211, 208, 201); }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #FBE57F;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: #736957; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

header .btn-primary {
  padding:9px 60px !important;
}

header .btn-tertiary {
  background:#736957;
  color:#B4AB9C;
}

.show .btn {
  float:left;
  margin-right:24px;
}

.show .btn-success {
  color:#fff !important;
}