@import "bootstrap";
@import "functions";
@import "jobs";
@import "stripe";
@import "hover";

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}

.hvr-grow-rotate.opposite {
  -webkit-transform: perspective(15px) translateZ(-40) !important;
  transform: perspective(1px) translateZ(-40) !important;
}

::selection { 
  background: #FBE57F !important;
}

.section a {
  color:#546E7A;
  text-decoration:none;
  padding-bottom:3px;
  border-bottom:2px dotted #546E7A;  
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

body {
  background:#F4F3F0;
  font-family: 'Rubik', sans-serif;
  color:#B4AB9C;
  font-size:13pt;
  line-height:1.8;
}

.close {
  display:none !important;
}

.container {
  max-width:980px !important;
}

.logo a {
  font-size:30pt;
  letter-spacing:-2px;
  color:#546E7A;
  text-decoration:none;
}

.logo img{
  vertical-align:middle;
}


h2.title, .subtitle {
  color:#546E7A;
}

.navbar-item {
  float:left;
  margin-top:2px;
  text-transform:uppercase;
  font-size:11pt;
  letter-spacing:1px;
}

.navbar-item a,.navbar-item a:visited {
  text-decoration:none;
  margin-right:25px;
  color:#546E7A;
}

.navbar-item a:hover {
  color:#546E7A;
  border-bottom:1px dashed #546E7A;
}

.alert p {
  margin-bottom: 0 !important;
  text-align:center;
}

header {
  margin:80px 0;
}

header h2 {
  font-size:22pt;
  text-align:center;
  font-weight:400;
  color:#546E7A;
}

header form {
  width:100%;
}

header .col {
  display:block;
}

input[type=text], input[type=email], input[type=password], input[type=url], select, textarea {
  background:#fff;
  padding:10px 15px !important;
  border:1px solid #E2E0E0;
  border-radius: 8px;
  margin-right:15px;
  width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:12pt;
  color:#B4AB9C !important;
}

::placeholder {
  color:#B4AB9C !important;
}

input[type=checkbox] {
  margin-right:5px;
}

input[type=submit] {
  padding:10px 15px !important;
  border-radius: 8px;
  width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:12pt;
  font-weight:500;
  background:#FBE57F;
  color:#546E7A;
  border:1px solid #FBE57F;
  width:100%;
}

textarea:focus, select:focus, input:focus {
  color:#736957 !important;
}

hr {
  border:none;
  height:1px;
  border-bottom:5px solid #E6E2DB;
  margin-bottom:35px;
}

.job {
  margin-bottom:35px;
  padding-bottom:35px;
  border-bottom:1px solid #E6E2DB;
}

.job h3 a {
  color:#736957;
  border:none;
}

.show strong {
  color:#736957;
}

h3.title {
  color:#736957;
}


label {
  margin-top:20px;
  color:#736957;
}

.hint {
  font-size:10pt;
  font-style:italic;
}

abbr {
  float:right;
  margin-left:5px;
  color:#ff0000;
}

.btn {
  padding:9px 15px !important;
  border-radius: 8px;
}

.navbar-item .btn {
  margin:0 0 0 5px;
  font-size:10pt;
}

.btn-primary {
  background:#fff;
  color:#546E7A;
  border:1px solid #E7E0E0;
}

.btn-primary:hover {
  background:rgb(245, 242, 242);
  color:rgb(57, 81, 92);
  border:1px solid rgb(212, 202, 202) !important;
}

.btn-secondary {
  background:#546E7A;
  color:#fff !important;
  border:1px solid #546E7A !important;
}

.btn-secondary:hover {
  background:rgb(65, 88, 99);
}

abbr {
  text-decoration:none !important;
}

.meta {
  width:100%;
  display:inline-block;
  vertical-align:center;
}

.meta div {
  vertical-align:center;
}

.job {
  clear:both;
}

.job h3 {
  font-size:18pt;
  display:block;
  float:left;
  margin-bottom:0px !important;
  margin-right:20px;
}

.job p {
  font-size:11pt;
  margin-bottom:0px !important;
}

.job-logo, .job-info {
  display:block;
  float:left;
}

.job-logo {
  width:20%;
}

.job-logo img {
  width:80px;
  height:auto;
}

.job-info {
  width:80%;
}

.type {
  font-size:7pt;
  color:#fff;
  background:#28B51F;
  padding:1px 8px;
  margin:6px 5px 0 0px;
  border-radius: 4px;
  display:block;
  width:auto;
  float:left;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:500;
  text-shadow: 1px 1px #17920F;
}

.remote {
  background:#FBE57F;
  color:#A5954B;
  text-shadow: none !important;
}